html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

:root {
  --color: #ffab0f;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
}
.grid {
  position: relative;
  width: 1100px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.clear {
  clear: both;
}
* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  position: relative;
  width: 100%;
  background: #222;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  color: #fff;
  padding: 30px;
}
nav h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 20px;
}
nav h3 small {
  color: #ddd;
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
nav h6 {
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  padding: 7px 0;
  text-align: left;
}
nav h6 a {
  color: var(--color);
}
nav div {
  text-align: center;
  width: 200px;
  margin: auto;
}
nav h6 i {
  margin-right: 10px;
  font-size: 15px;
}
nav img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: #fff;
  margin: auto;
}
.page {
  position: relative;
  background: #fafafa;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 50px;
  padding: 30px;
}
.page .left > div, .page .right > div {
  margin-bottom: 10px;
}
.page h4 {
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin-bottom: 5px;
}
.page h5 {
  color: var(--color);
  font-weight: 500;
  width: 90%;
}
.page h5 span {
  float: right;
}
.page p {
  font-size: 13px;
  color: #777;
  line-height: 1.4;
  width: 90%;
}
.page a {
  color: #7303fc
}
.page a:hover {
  text-decoration: underline;
}
.page .left, .page .right {
  padding: 20px;
}
.page ul {
  margin: 5px 0;
}
.page ul li {
  font-size: 13px;
  color: #777;
  line-height: 1.4;
  width: 85%;
}
.skillsdiv {
  padding: 20px;
  padding-left: 0;
}
.skillsdiv > div {
  width: 100%;
  display: block;
  font-size: 13px;
  clear: both;
  padding: 5px 0;
}
.skillsdiv > div span {
  float: left;
  width: 140px;
}
.skillsdiv h5 {
  margin: 5px 0;
}
.skillsdiv .skillbar {
  position: relative;
  height: 10px;
  background: #ddd;
  float: right;
  margin-left: 10px;
  top: 4px;
  width: 280px;
}
.skillsdiv .skillbar::after {
  position: absolute;
  content: '';
  height: 100%;
  background: var(--color);
}
.s60::after {width: 60%;}
.s65::after {width: 65%;}
.s70::after {width: 70%;}
.s75::after {width: 75%;}
.s80::after {width: 80%;}
.s85::after {width: 85%;}
.s875::after {width: 87.5%;}
.s90::after {width: 90%;}
.s925::after {width: 92.5%;}
.s95::after {width: 95%;}
.s975::after {width: 97.5%;}
.s100::after {width: 100%;}


.langs span {
  position: relative;
  float: right;
}
.strengths > div {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background: var(--color);
  color: #333;
  border-radius: 6px;
  font-size: 13px;
  opacity: 0.8;
}
.strengths h4 {
  margin-bottom: 10px;
}
.portfolio p, .socials p {
  margin: 5px 0;
}
.portfolio h4, .socials h4 {
  margin-bottom: 10px;
}
.portfolio p span, .socials p span {
  float: right;
  color: var(--color);
}

